.ic-logo {
    color: grey;
}

.nav-height {
    height: 64px;
    padding: 24px;
}

.padding {
    padding: 34px 24px;
    background-color: #D8D8D8;
}

.btn {
    background-color: #4A4A4A;
    color: white;
}

.fw-bold {
    color: #4A4A4A;
}

.card-colo {
    color: #4A4A4A;
}

.bgg {
    background-color: #D8D8D8;
}

@media (max-width: 767.98px) {
    .bgg {
        background-color: transparent !important;
    }
}

.bggc {
    background-color: transparent;
}

@media (max-width: 767.98px) {
    .bggc {
        background-color: #D8D8D8 !important;
    }
}